body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 80ch;
}

aside {
    writing-mode: vertical-lr;
    position: fixed;
    top: 10px;
    right: 10px;
}

nav li {
    display: inline-block;
}

.noclass {
    background-color: darkgray;
}

h5 {
    border-bottom: 1px solid black;
}

hr {
    margin: 60px auto;
}