:root {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --page-color: #E3DBFF;
    --font-color: #2B3240;
    --accent-color: #87ABF0;
    --add-color: #1a604f;
    --sub-color: #B8FFC6;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: '▻';
    padding-left: 1rem;
}

body {
    background-color: var(--page-color);
    color: var(--font-color);
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    color: var(--add-color);
    font-style: italic;
}

a::after {
    content: "⇗";
}

h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.6rem;
    margin: 3rem 0;
}

h3 {
    font-size: 5rem;
    background-color: var(--sub-color);
    font-style: italic;
}

h4 {
    font-size: 1.5rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: var(--accent-color);
    border: var(--add-color) 1px solid;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.75rem;
}

/* NAVIGATION */
#pageLinksBtn {
    position: fixed;
}

#pageLinks {
    position: fixed;
    background-color: var(--accent-color);
    width: 50vw;
    max-width: 200px;
    left: -50vw;
    transition: left 1s;
}

#pageLinks.show {
    left: 0;
    transition: left 1s;
}

#pageLinks li {
    padding: 0.5rem;
}

#navCloseBtn {
    font-size: 2rem;
    padding-left: 1rem;
}
/* LAYOUT */

header h1 {
    margin-bottom: 1rem;
}

aside {
    writing-mode: sideways-lr;
    position: fixed;
    right: 0;
    top: 0;
    padding: 1rem;
}

main {
    width: 100%;
}

.week-section {
    padding-bottom: 2rem;
    border-bottom: var(--add-color) 2px solid;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    h1 {
        text-align: center;
    }

    main {
        max-width: 768px;
        margin: 0 auto;
    }
}